
.breadcrumbs {
  display: flex;
  align-items: center;
  
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(224, 224, 255, 0.6);

  margin-top: 24px;
  margin-bottom: 24px;
  svg {
    margin-left: 8px;
    margin-right: 8px;
    opacity: 0.6;
  }
}

.breadcrumbs__current-page {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.breadcrumbs__crumb {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

@media screen and (max-width: $desktopWidth) {
  .breadcrumbs_top {
    padding: 28px 25px 0 25px !important;
  }
}

