
.promo {
  height: 488px;
  align-items: center;
  background: url("../img/promo.jpg") center no-repeat;
}

.promo__container { 
  max-width: 445px;
}

@media screen and (max-width: $tableWidth) {
  .promo {
    background: url("../img/promo-mobile.jpg") bottom no-repeat;
    background-size: cover;
    height: auto;
  }
  .promo__container { 
    max-width: initial;
  }
  .promo button {
    width: 100%;
    margin-bottom: 36px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}